html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --primary: #007ee5;
  --lightGray: #aab3ba;
  --baseline: 1.5rem;

  --red: #EE3C3C;
  --yellow: #FFA200;
  --green: #34C635;

  --lightRed: #FEE2E1;
  --lightYellow: #FEF4E4;
  --lightGreen: #EBF9EB;
}

body {
  font: 100%/1.5 sans-serif;
  color: #3D464D;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1080px;
  margin:0 auto;
  padding: 0 5%;
}

.d--flex {
  display: flex;
}

.a--center {
  align-items: center;
}

.j--spaceBetween {
  justify-content: space-between
}

.f--wrap {
  flex-wrap: wrap;
}

.fw--bold {
  font-weight: bold;
}

.w--100 {
  width: 100%;
}

.mtb--40 {
  margin: 40px 0;
}

.c--lightGray {
  color: var(--lightGray);
}
